.body {
    background-image: url("assets/img/Digimon.jpg");
    
    background-attachment: fixed;


}

#card {
    width: 16%;
    float: left;
    text-align: center;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);

}

#tabla_primaria {
    background-color: rgba(97, 166, 33, 0.6);
    width: 50px;
}

.navbar {
    font-family: fantasy;

}
#contenido {
    font-family: fantasy;
    border-color: blueviolet;
    background-color: rgb(157, 90, 220, 0.4);
}